html {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;

}

*, *::before, *::after {
  box-sizing: inherit;

} /* Navigation */
header {
  width: 100%;
}
.home-icon {
  width: 25%;
}

nav {
  text-align: center;
}

nav a{

  text-decoration: none;
  color: black;
  padding: 11px 35px;
  display: block;

}

nav a:hover{
  color: grey;

}
nav ul {
  list-style: none;

}
.topbtn {
  color: white;

}

li {
  display: inline-block;

}

ul {
	list-style: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;

}
a {
  text-decoration: none;
}

a:hover {
  color: grey;

}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;

}
/*Banner*/
.banner{
  background-image: url(../images/banner-3.png);
  background-size: cover;
  margin-top: -1rem;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  position: relative;
  padding: 10em;
  width: 100%;

}
.colourlessbanner{
  background-size: cover;
  margin-top: -1rem;
  text-align: center;
  color: black;
  position: relative;
  padding: 5em;
  width: 100%;

}
/*Thumbnail*/
.thumbnail {
  display: block;

}

.thumbnail img {
  padding: 0em;

}
/*.thumbnail img:hover {
    padding: .25em;

}*/

.thumbnail a {
  text-decoration: none;
  color: black;

}

.thumbnail a:hover {
  border-bottom: none;
  color: grey;

}

/*Footer*/

footer {
  text-align: center;
  padding-bottom: 1px;
  color: white;
  background-color: black;
  clear: both;

}

footer p{
  font-size: 46px;

}
.copyright{
  font-size: 12px;
  color: white;
}
/*Social Media Icons*/

.soc-icon{
  display: inline-block;

}
