/*Palette:
#acbbd2 - Light blue
#6077a6 - Darkish lavender
#003462 - Dark Blue
*/
html {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #003462;

}

*, *::before, *::after {
  box-sizing: inherit;

} /* Navigation */

.home-icon {
  width: 90%;
  padding: 24px 0 0 0;
  padding-left: 5px;
  margin-left: 0.2em;
}

a {
  text-decoration: none;
}
a:hover{
  color: #acbbd2;
}

.desc{
  padding: 3em 3em; 

}

header {
  padding: 1em 2em 1em 2em;

}/*Smol Nav*/
.nav-main {
  display: none;
}

.nav-toggle {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  background-color: #0b6288;
  z-index: 10;
  right: 15px;
  top: 31px;
  right: 50px;
  padding: 15px 13px;

}

.nav-toggle a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.nav-check:checked ~ .nav-toggle {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: fixed;
  right: 15px;
  top: 30px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #ff
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
/*END*/

}
.top-btn {
  color: white;
  padding-top: 8em;

}

li {
  display: inline-block;

}

ul {
	list-style: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;

}

.port-icon-resize {
  padding-bottom: 6em;

}
.3spooky5me{
  width: 20%;
  padding-left: 2em;
}

.nav-port a {
  color: white;

}
.nav-port a:hover {
  color: #003462;

}
h1 {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;

}
/*Banner*/
.banner{
  background-image: url(../images/banner-3.png);
  background-size: cover;
  margin-top: -1rem;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  position: relative;
  padding: 10em;
  width: 100%;
}

.banner-solid {
  color: white;
  background-color: #acbbd2;
  padding: 9em;

}

.banner-solid2 {
  color: #003462;
  background-color: white;
  padding: 3em;

}
.colourlessbanner{
  background-size: cover;
  margin-top: -1rem;
  text-align: center;
  color: #003462;
  position: relative;
  padding: 5em;
  width: 100%;

}
/*Thumbnail*/

.thumbnail {
  display: block;

}

.thumbnail img {
  padding: 0em;

}
/*.thumbnail img:hover {
    padding: .25em;

}*/

.thumbnail a {
  text-decoration: none;
  color: #003462;

}

.thumbnail a:hover {
  border-bottom: none;
  color: #acbbd2;

}

/*Footer*/

footer {
  text-align: center;
  padding-bottom: 1px;
  color: white;
  background-color: #003462;
  clear: both;
  padding-top: 3em;

}

footer p{
  font-size: 46px;

}
.copyright{
  font-size: 12px;
  color: white;
}
/*Social Media Icons*/

li {
  width: 5%;
}


.soc-icon a{
  color: white;
  display: inline-block;
}

.soc-icon a:hover{
  color: #acbbd2;



}
/*Media Query*/
@media only screen and (min-width: 608px) {

  .two-center-icon {
    margin-left: 9em;
  
  }
  .home-icon {
    width: 70%;
  }
  header {
    padding: 0 2em 0 2em;

  }
  .nav-label,
  .nav-open,
  .nav-close {
    display: none;

  }
  .nav-main {
    text-align: center;
    display: block;

  }

  nav a{

    text-decoration: none;
    color: #003462;
    padding: 11px 35px;

  }

  nav a:hover{
    color: #acbbd2;

  }
  nav ul {
    list-style: none;
    text-align: right;

  }

}
@media only screen and (min-width: 53.4375em) {/*855px*/

  .port-icon-resize {
    padding: 0 2em 5em 8em;
    width: 90%;
    text-align: center;

  }
  .home-icon {
    width: 60%;
  }

}
@media only screen and (min-width: 1118px) {

  .field-cons {
    width: 50%;
  }
  .home-icon {
    width: 40%;

  }
}

@media only screen and (min-width: 1270px) {

  .port-icon-resize {
    padding: 0 5em 6em 12em;

  }
  .home-icon {
    width: 20%;
}