html {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;

}

*, *::before, *::after {
  box-sizing: inherit;

} /* Navigation */
header {
  width: 100%;
}
.home-icon {
  width: 47%;
  padding: 24px 0 0 0;
  padding-left: 5px;
  margin-left: 0.2em;
}

nav {
  text-align: center;
}

nav a{

  text-decoration: none;
  color: black;
  padding: 11px 35px;
  display: block;

}

nav a:hover{
  color: grey;

}
nav ul {
  list-style: none;
  text-align: right;

}

.desc p {
  margin: 2em 0 2em 2; 

}
.top-btn {
  color: white;

}

li {
  display: inline-block;

}

ul {
	list-style: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;

}

.port-icon-resize {
  padding-bottom: 6em;

}

.nav-port a {
  color: white;

}
.nav-port a:hover {
  color: black;

}
h1 {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;

}
/*Banner*/
.banner{
  background-image: url(../images/banner-3.png);
  background-size: cover;
  margin-top: -1rem;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  position: relative;
  padding: 10em;
  width: 100%;
}

.banner-solid {
  color: white;
  background-color: grey;
  padding: 9em;

}

.banner-solid2 {
  color: black;
  background-color: white;
  padding: 3em;

}
.colourlessbanner{
  background-size: cover;
  margin-top: -1rem;
  text-align: center;
  color: black;
  position: relative;
  padding: 5em;
  width: 100%;

}
/*Thumbnail*/

.thumbnail {
  display: block;

}

.thumbnail img {
  padding: 0em;

}
/*.thumbnail img:hover {
    padding: .25em;

}*/

.thumbnail a {
  text-decoration: none;
  color: black;

}

.thumbnail a:hover {
  border-bottom: none;
  color: grey;

}

/*Footer*/

footer {
  text-align: center;
  padding-bottom: 1px;
  color: white;
  background-color: black;
  clear: both;

}

footer p{
  font-size: 46px;

}
.copyright{
  font-size: 12px;
  color: white;
}
/*Social Media Icons*/

.soc-icon {
  width: 20%;
  display: inline-block;
}

.soc-icon a{
  color: white;
}

.soc-icon a:hover{
  color: grey;

}
/*Media Query*/
@media only screen and (min-width: 0px, max-width: 607px) {
  .nav-smol-scrn {

  }
}

@media only screen and (min-width: 608px) {

  .two-center-icon {
    margin-left: 9em;

  }
}
@media only screen and (min-width: 53.4375em) {/*855px*/

  .port-icon-resize {
    padding: 0 2em 5em 8em;
    width: 90%;
    text-align: center;

  }

}
@media only screen and (min-width: 1118px) {

  .field-cons {
    width: 50%;

  }
}

@media only screen and (min-width: 1270px) {

  .port-icon-resize {
    padding: 0 5em 6em 12em;

  }

}